<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <style>
    nav { 
      padding: 45px 0 0 0;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  

<div class="jumbotron text-center">
  <h1>TeamUp!</h1>
  <h3>View Projects</h3> 
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light form-inline my-43 my-lg-0">

    <div class="w3-bar w3-light-grey"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/submit">New Project</a>
        </li>
      </ul>
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="card">
      <h3>Project Title</h3>
      <p>Project information, current contributors.</p>
      <p>Any other pertinent details.</p>
      <form action="/details" method="GET">
        <button type="details" class="btn btn-primary" id="details">Open Project Details</button>
      </form>
    </div>
    <div class="card">
      <h3>Project Title</h3>
      <p>Project information, current contributors.</p>
      <p>Any other pertinent details.</p>
      <form action="/details" method="GET">
        <button type="details" class="btn btn-primary" id="details">Open Project Details</button>
      </form>
    </div>
    <div class="card">
      <h3>Project Title</h3>        
      <p>Description of Project</p>
      <p>Project information, current contributors.</p>
      <p>Any other pertinent details.</p>
      <form action="/details" method="GET">
        <button type="details" class="btn btn-primary" id="details">Open Project Details</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
