<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>TeamUp!</h1>
  <h3>View Projects</h3> 
</div>

<div class="container">
  <div class="row">
    <div class="card">
      <h3>Project Title</h3>
      <p>Project information, current contributors.</p>
      <p>Any other pertinent details.</p>
      <form action="/details" method="GET">
        <button type="details" class="btn btn-primary" id="details">Open Project Details</button>
      </form>
    </div>
    <div class="card">
      <h3>Project Title</h3>
      <p>Project information, current contributors.</p>
      <p>Any other pertinent details.</p>
      <form action="/details" method="GET">
        <button type="details" class="btn btn-primary" id="details">Open Project Details</button>
      </form>
    </div>
    <div class="card">
      <h3>Project Title</h3>        
      <p>Description of Project</p>
      <p>Project information, current contributors.</p>
      <p>Any other pertinent details.</p>
      <form action="/details" method="GET">
        <button type="details" class="btn btn-primary" id="details">Open Project Details</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
