<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign In</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>TeamUp!</h1>
            <h3>Sign In!</h3> 
    </div>

    <div class="card">
            <h3>{{username}}</h3>
            <p>{{password}}</p>
            <button id="enter">Sign In!</button>
    </div>
    </body>


</html>

  